# ignore .git related folders
.git/
.github/
.gitignore
# ignore docs
docs/
# copy in licenses folder to the container
!docs/licenses/
# ignore logs
**/logs/
**/runs/
**/output/*
**/outputs/*
**/videos/*
*.tmp
# ignore docker
docker/cluster/exports/
docker/.container.cfg
# ignore recordings
recordings/
# ignore __pycache__
**/__pycache__/
**/*.egg-info/
# ignore isaac sim symlink
_isaac_sim
# Docker history
docker/.isaac-lab-docker-history

# Ignore folders with heavy content
datasets/
logs/
output/
models/
data_storage/
_isaac_sim/
*.zip
*.7z
.gitmodules
*.py[cod]
__pycache__/
*.log
*.md
*.zip
*.7z
*.egg-info
build/
dist/